.markdown {
  @apply text-lg leading-relaxed;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-6;
}

.markdown h2 {
  @apply text-3xl mt-12 mb-4 leading-snug;
}

.markdown h3 {
  @apply text-2xl mt-8 mb-4 leading-snug;
}

.markdown p code {
  @apply text-red-600 bg-red-100 mx-1;
}

.markdown blockquote p {
  @apply p-8 text-left border-solid border-l-4 border-teal-600 bg-gray-200;
}

.markdown p a {
  @apply text-teal-600 underline;
}

.markdown p {
  @apply break-words;
}

.markdown ul {
  @apply list-disc pl-8;
}

.markdown ol {
  @apply list-decimal pl-8;
}

.markdown p {
  @apply tracking-wide font-thin;
}
